::ng-deep .container {
  max-width: 1500px;
}
footer {
  margin-top: 100px;
  text-align: center;
  height: 72px;
  line-height: 72px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  overflow-y: auto;
}
